@media (min-width: 320px) and (max-width: 575px) {
    .header,
    .main__section1,
    .main__section2,
    .main__section3,
    .footer {
        width: 286px;
    }
    .wrap_finance {
          margin-bottom: 85px !important;
    }
    .panels2, .gold_time2 {
          font-size: 16px !important;
    }
    .finance {
      height: 249px !important;
          margin: 0!important;
    }
    #for_i {
      display: none;
    }
    #star {
          left: 368px !important;
          top: 10px !important;
          width: 350px !important;
  }
  .wrap_future {
        top: 198px !important;
        left: -357px !important;
}
#may25 {
  top: -6px;
  left: 0px;
}
  .future_title {
    font-size: 16px !important;
    line-height: 140% !important;
    top: -7px;
    position: relative;
  }
  .agendas {
    font-size: 16px !important;
    line-height: 140% !important;
  }
  #ag {
    width: 300px;
  }
  .show_finance {
    height: 3080px !important;
    padding-bottom: 513px !important;
}

  #lm {
    left: -38px !important;
    top: 55px !important;
  }
  .low_grids {
    top: -540px !important;
    left: 325px !important;
  }
  .low_grids3 {
    top: 1150px !important;
    left: -381px !important;
  }
  .wrap_arr2 {
    top: -35px !important;
    left: -155px !important;
}
    .investors {
    height: 134px !important;
}
    #logo {
      display: none;
    }
    #sphere {
      width: auto;
      position: relative;
      left: -14px;
    }

    #youtube {
      grid-column: 6 / 7 !important;
      position: relative !important;
      left: -291px !important;
      top: 188px !important;
      height: 50px !important;
      width: 50px !important;
      cursor: pointer !important;
    }
    #mobileLogo {
      display: block !important;
      position: relative;
      left: -124px;
    }
    .branding {
      width: 320px !important;
    }
    .emtech_text2 {
      font-size: 16px !important;
      line-height: 160% !important;
      top: 109px !important;
      width: 302px !important;
    }
    .low_brand {
      grid-template-columns: 1fr !important;
      width: 100% !important;
      top: -243px !important;
      left: 0px !important;
    }
    .help_divs {
      display: none !important;
    }
    .posts {
      width: 100% !important;
    }
    .carts {
      width: 320px !important;
      height: 310px !important;
    }
    .high_brand {
      grid-template-columns: 1fr !important;
    }
    .cart_txt {
      font-size: 16px !important;
          margin-top: 21px !important;
    }
    .become_a_partner3 {
      width: 320px !important;
      font-size: 18px !important;
    }
    #partnerButton3 {
      left: 0px !important;
      top: -243px !important;
    }
    .wrap_branding {
      background-repeat: initial !important;
      top: 464px !important;
    }
    .wrap_branding {
          margin-bottom: 524px !important;
    }
    #brand_title {
      height: 71px !important;
      top: 32px !important;
    }
    .events2 {
          grid-template-columns: 1fr !important;
    }
    .common_events_blocks, .common_events_blocks2 {
          width: 280px !important;
          padding: 14px !important;
          height: 93px !important;
          margin-bottom: 12px !important;
          z-index: 1;
    }
    .investors  {
      width: 280px !important;
      padding: 14px !important;
      margin-bottom: 12px !important;
      z-index: 1;
    }
    .wrap_lazy {
      width: 68px;
      height: 48px;
      margin-bottom: 22px;
    }
    .lazy_spec {
          margin-bottom: 38px !important;
    }
    #insta1 {
      grid-column: 6 / 7;
      position: relative;
      top: 59px;
      left: -228px;
      width: 30px;
      height: 30px;
}
    #rec2 {
      left: 0px !important;
      top: 0px !important;
    }
    .spec_low2 {
      top: -71px !important;
    }
    #techInWar, #meta1 {
      top: 0px !important;
      left: 0px !important;
    }
    #hunds, #topic1 {
      top: 0px !important;
      left: 0px;
    }
    #eco1 {
          margin-bottom: 31px;
    }
    #al2 {
          top: -72px;
    }
    #spec_event {
        margin-top: -100px;
        padding-right: 103px;
    }
    #f1 {
        top: -7px !important;
    }
    .spec_imgs {
      height: 46px !important;
    }
    .spec_block {
      height: 74px !important;
    }
    .bio_t {
      top: -87px !important;
    }
    .wrap_arr {
      top: 10px !important;
      left: 16px;
    }
    .spec_arr2 {
    top: -17px !important;
}
    .show_mob {
      display: initial;
    }
    .events2 {
          width: 279px !important;
    }
    .show_desc {
      display: none;
    }
    .spec_arr {
      top: -15px !important;
    }
    .spec_low {
          top: -67px !important;
    }
    .when_text {
          width: 214px !important;
    }
    #war1 {
      position: relative;
      top: 16px !important;
      left: 0px !important;
    }
    #may24 {
          top: -73px !important;
    }
    .block11 {
    height: 1330px !important;
}
    .block22 {
      height: 2260px !important;
    }
    .block33 {
    height: 2350px !important;
}
.block44 {
    height: 2990px !important;
}
.block55 {
    height: 2417px !important;
}
.block66 {
    height: 152px !important;
}
.block77 {
    height: 1175px !important;
}
.blockExtra2 {
    height: 222px !important;
}
#monetary3 {
      padding-right: 92px;
}
    .data22 {
          position: relative;
          top: -88px !important;
    }
    .date23 {
      position: relative;
      top: -71px !important;
    }
    .data25 {
      position: relative;
      top: -67px;
    }
    .text23 {
          top: -78px !important;
          font-size: 14px !important;
    }
    .text25 {
              top: -75px !important;
              font-size: 14px !important;
        }
    .common_txts {
      top: -76px !important;
          font-size: 14px !important;
              width: 246px !important;
    }
    .gold_line {
          top: -57px !important;
    }
    .gold_title {
      font-size: 14px !important;
      position: relative;
      top: -66px;
    }
    .big_gold2 {
      margin-bottom: 23px;
    }
    .big_gold, .big_gold2 {
        font-size: 14px !important;
        line-height: 22px !important;
        width: 200px !important;
        top: -84px !important;
    }
    .big_title {
      font-size: 16px !important;
      line-height: 22px !important;
      width: 178px !important;
    }
    .low_title {
        font-size: 16px !important;
        line-height: 25px !important;
        width: 156px !important;
        position: relative;
        top: -90px;
        left: 82px;
    }
    .common_imgs {
      width: 68px;
      height: 65px;
    }
    .specForTablet {
      width: 244px !important;
    }
    .spec1 {
      width: 260px !important;
    }
    .spec2 {
      width: 211px !important;
    }
    .spec3 {
      margin-top: 48px !important;
      margin-bottom: 41px !important;
    }
    .spec4 {
      width: 270px !important;
    }
    .spec6 {
      padding-left: 0px !important;
      margin-bottom: 41px !important;
    }
    .specForTablet {
      padding-left: 0px !important;
    }
    .specForMobile3, .spec5, .specForMobile1 {
      padding-left: 37px !important;
    }
    .wrap_rect > img {
      position: absolute;
      top: 169px;
    }
    #al {
      width: 234px !important;
      top: -46px !important;
      margin-bottom: 31px;
    }
    #spec_agenda2 {
    margin-top: -81px;
}
    .date2 {
      width: 264px !important;
    }
    .oops {
      width: 320px !important;
      color: white;
      font-size: 18px !important;
      display: grid !important;
      justify-content: center;
      text-align: center;
      line-height: 29px !important;
    }
    .mistake404 {
      font-size: 100px !important;
    }
    body.lock {
        overflow: hidden;
    }
    .section2__logo-item {
      text-align: center;
    }
    #social_networks {
      left: 211px;
      top: -100px;
    }
    .header {
        position: relative;
        top: 0;
        left: 0;
        z-index: 50;
        height: 22px;
        margin: 28px 0px 0px 0px;
    }
    .header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100px;
        z-index: 2;
    }
    .navigation {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: flex-end;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 1000;
        right: 20px;
    }
    .header__burger::before,
    .header__burger::after {
        content: "";
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .navigation-list {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: #E5E5E5;
        height: 100%;
        align-items: start;
        padding: 120px 10px 20px 20px;
        display: block;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .navigation-list.active {
        top: 0;
        z-index: 999;
    }
    .navigation-list li {
        margin: 0px 0px 20px 0px;
    }
    .navigation-link {
        margin: 0px 0px 0px 0px;
        font-size: 24px;
    }
    #logo {
        position: relative;
        z-index: 3;
    }
    #under_logo {
        display: none;
    }
    .main__section1 {
        height: 1059px;
        flex-direction: column;
    }
    .section1__description {
        margin-top: 70px;
    }
    .section1__title {
        font-size: 30px;
        margin-bottom: 16px;
    }
    .section1__paragraph br {
        display: none;
    }
    .section1__paragraph {
        font-size: 16px;
    }
    .section1__link, .section1__link:visited {
        margin-top: 20px;
        font-size: 18px;
    }
    .section1__img-container {
        margin-top: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .section1__img-title {
        font-size: 20px;
    }
    .section1__img-davos {
        margin-top: 20px;
        margin-bottom: 30px;
        width: 286px;
        height: 201.03px;
    }
    .section1__img-dubai {
        margin-top: 0;
        margin-bottom: 100px;
        width: 286px;
        height: 201.03px;
    }
    .main__section2 {
        height: 830px;
    }
    #eagle {
       transform: scale(1);
       left: 0px;
       top: 0px;
    }
    #curio {
      left: 0px;
    }
    #goweb {
      display: block;
    }
    .section2-title {
        margin-top: 50px;
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 33px
    }
    .section2-paragraph {
        font-size: 16px;
        margin-bottom: 66px;
    }
    .section2__logo-list {
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          display: grid;
          grid-template-columns: 1fr;
          width: 320px;
          transform: scale(0.5);
          grid-template-rows: repeat(6, 1fr);
          position: relative;
          top: -279px;
          left: -24px;
    }
    .section2__logo-list > li:nth-child(1) {
        margin-right: 0;
        order: 1;
    }
    .section2__logo-list > li:nth-child(2) {
        margin-right: 0;
        margin-top: 60px;
        order: 2;
    }
    .section2__logo-list > li:nth-child(3) {
        margin-right: 0;
        margin-top: 60px;
        order: 4;
    }
    .section2__logo-list > li:nth-child(4) {
        margin-top: 60px;
        order: 8;
    }
    .section2__logo-list > li:nth-child(5) {
        margin-right: 0;
        margin-top: 60px;
        order: 5;
    }
    .section2__logo-list > li:nth-child(6) {
        margin-right: 0;
        margin-top: 60px;
        order: 3;
    }
    .section2__logo-list > li:nth-child(7) {
        margin-right: 0;
        margin-top: 60px;
        order: 7;
    }
    .section2__logo-list > li:nth-child(8) {
        margin-top: 60px;
        order: 6;
    }

    .main__section3 {
        margin-top: 100px;
    }
    .section3-title {
        font-size: 28px;
        line-height: 33px;
    }
    .section3-img {
        width: 130px;
        height: 130px;
    }
    .section3-big-img {
        width: 280px;
        height: 130px;
    }
    .section3-list > li:nth-child(1) {
        margin-right: 20px;
    }
    .section3-list > li:nth-child(2) {
        margin-right: 0;
    }
    .section3-list > li:nth-child(3) {
        margin-top: 20px;
    }
    .section3-list > li:nth-child(4) {
        margin-right: 20px;
        margin-top: 20px;
    }
    .section3-list > li:nth-child(5) {
        margin-right: 0;
        margin-top: 20px;
    }
    .section3-list > li:nth-child(6) {
        margin-right: 20px;
        margin-top: 20px;
    }
    .section3-list > li:nth-child(7) {
        margin-top: 20px;
    }
    .section3-list > li:nth-child(8) {
        margin-right: 0;
        margin-top: 20px;
    }
    .section3-list > li:nth-child(9) {
        margin-right: 20px;
        margin-top: 20px;
    }
    .section3-list > li:nth-child(10) {
        margin-top: 20px;
    }
    .section3__events {
        margin-top: 100px;
        margin-bottom: 79px;
    }
    .events__title-container {
        width: 170px;
        margin-bottom: 20px;
        align-items: start;
        flex-direction: column;
    }
    .events__title-link, .events__title-link:visited {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .events__button {
        height: 161px;
        padding: 0;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }
    .event-paragraph {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    .events__button > p:nth-child(1) {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
        margin-top: 20px;
        flex-basis: content;
    }
    .events__button > p:nth-child(2) {
        margin-left: 0;
        margin-bottom: 14px;
        flex-basis: content;
    }
    .events__button > p:nth-child(3) {
        flex-basis: content;
        margin-left: 0;
    }
    .footer {
        margin: 60px 0px;
        height: 350px;
        display: grid;
        grid-template-columns: 217px 69px;
        grid-template-rows: 52px 168px 130px;
    }
    .footer__logo-img {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .footer-link {
        font-size: 16px;
        line-height: 19px;
    }
    .footer-item {
        margin-bottom: 14px;
    }
    .footer__list1 {
        margin-left: 0;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .footer__list2 {
        margin-left: 0;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .footer__list3 {
        margin-left: 0;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .footer__list3 > li:nth-child(3) {
        margin-bottom: 20px;
    }
    .footer__list4 {
        margin-left: 0;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}
