@media (min-width: 320px) and (max-width: 575px) {
    .members__section1,
    .members__section2,
    .members__section3 {
        width: 280px;
    }
    .members__section1 {
        height: 1288px;
    }
    .members__section1-title {
        font-size: 31px;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .members__section1-container {
        width: 280px;
        flex-direction: column;
        justify-content: center;
    }
    .members__container-block {
        width: 280px;
        height: 197px;
        background: #111419;
        border: 1.35769px solid #F6DBA8;
        box-sizing: border-box;
        box-shadow: 2.03654px 5.43077px 8.825px #000000;
        border-radius: 20.3654px;
        margin-bottom: 30px;
    }
    .members__special-block {
        background: #111419;
        box-shadow: 2.03654px 5.43077px 8.825px #000000;
    }
    .members__container-title {
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 4px;
    }
    .members__container-paragraph {
        font-size: 16px;
        line-height: 19px;
    }
    .members__special-container {
        margin-top: 0px;
        margin-left: 0px;
    }
    .members__container-btn {
        width: 280px;
        margin-left: 0px;
        margin-top: 20px;
        flex-direction: column;
    }
    .members__container-btn > button:nth-child(1) {
        margin-bottom: 20px;
    }
    .members__section1-btn {
        width: 280px;
        height: 50px;
        font-size: 16px;
    }
    .members__special-text {
        color: #FFFFFF;
    }
    .members__container-special {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 256px;
    }
    .members__container-paragraph {
        text-align: center;
    }
    .members__section2 {
        height: 930px;
    }
    .members__section2-title {
        font-size: 28px;
        line-height: 33px;
        margin-top: 50px;
    }
    .members__section2-paragraph {
        font-size: 16px;
        line-height: 140%;
    }
    .members__section2-list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 89px);
      position: relative;
      top: -67px;
    }
    .members__section2-list > li:nth-child(1) {
        margin-right: 20px;
    }
    .members__section2-list > li:nth-child(3) {
        margin-right: 20px;
        margin-top: 20px;
    }
    .members__section2-list > li:nth-child(4) {
        margin-top: 20px;
    }
    .members__section2-list > li:nth-child(5) {
        margin-top: 20px;
        margin-right: 20px;
    }
    .members__section2-list > li:nth-child(6) {
        margin-top: 20px;
    }
    .members__section2-btn {
        width: 130px;
        height: 50px;
        font-size: 16px;
        position: relative;
        top: 32px;
    }
    .members__section3 {
        height: 787px;
    }
    .members__section3-technologies {
        margin-top: 100px;
        height: 311px;
    }
    .members__technologies-title {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 28px;
        line-height: 33px;
    }
    .members__technologies-paragraph {
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 20px;
    }
    .members__technologies-btn {
        width: 205px;
        height: 50px;
        font-size: 16px;
    }
    .members__technologies-img {
        display: none;
    }
    .members__section3-report {
        margin-top: 100px;
        width: 280px;
    }
    .members__report-title {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 20px;
    }
    .members__report-btn {
        width: 128px;
        height: 50px;
        font-size: 16px;
    }
}
@media (min-width: 320px) and (max-width: 1950px) {
  .wrap__association1 {
    overflow: hidden;
    position: relative;
  }
  .lines_grad {
    position: relative;
    top: -135px;
    z-index: 1000;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .lines_grad {
    position: relative;
    top: -455px;
    z-index: 1000;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@media (min-width: 768px) and (max-width: 1290px) {
  .lines_grad {
    position: relative;
    top: -269px;
    z-index: 1000;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
}
