/* MainSection1 */
.wrap__main-section1 {
    width: 100%;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
  	-webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
    background-color: rgba(5, 6, 11, 1);
    position: relative;
    overflow: hidden;
}
.main__section1 {
    width: 1290px;
    height: 980px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 1;
}
#video-bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#rect1 {
  position: relative;
  left: 190px;
  top: -50px;
}
#rect2 {
  position: relative;
  left: -200px;
  top: -47px;
}
.section1__description {
    margin-top: 393px;
}
.section1__title {
    font-family: 'WorkSans-Bold', Verdana, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.section1__paragraph {
    font-family: 'WorkSans-Regular', Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 160%;
    color: #FFFFFF;
}
.section1__link, .section1__link:visited {
    margin-top: 16.6px;
    font-family: 'WorkSans-Regular', Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 160%;
    -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
    color: #FFFFFF;
    display: block;
}
.section1__img-container {
    margin-top: 101px;
    width: 414px;
}
.section1__img-title {
    font-family: 'WorkSans-Regular', Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 140%;
    color: #FFFFFF;
}
.section1__img-davos {
  margin-top: 17px;
  margin-bottom: 48px;
  width: 414px;
  height: 291px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 30px;
  cursor: pointer;
  mix-blend-mode: lighten;
}
.section1__img-dubai {
  width: 414px;
  height: 291px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 30px;
  cursor: pointer;
  mix-blend-mode: lighten;
}
.section1__img-dubai:hover, .section1__img-davos:hover {
  -webkit-box-shadow: 0px 4px 90px 19px rgba(202, 162, 42, 0.85);
        box-shadow: 0px 4px 90px 19px rgba(202, 162, 42, 0.85);
}
