.wrap_branding {
  width: 100%;
  height: 727px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 534px;
  background-color: #111419;
  background-image: url("../../public/images/wave2.png");
  background-repeat: round;
  background-blend-mode: lighten;
  margin-bottom: 425px;
}
.branding {
  width: 1397px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 726px 1px;
  justify-items: center;
}
.high_brand {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.low_brand {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 400px);
  grid-gap: 34px;
  top: -118px;
  overflow-x: scroll;
  height: 675px;
  width: 154%;
  left: 49px;
}
.low_brand::-webkit-scrollbar {
  width: 0;
}
.become_a_partner3 {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 410px;
  height: 50px;
  border: 1.5px solid #F5D7A1;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  grid-column: 1 / 4;
  grid-row: 6 / 7;
  left: 436px;
  cursor: pointer;
  transition: 0.2s;
  top: -87px;
}
.lead__logo {
  width: 560px;
}
.gold_time {
  color: #F6DBA8;
}
.become_a_partner3:hover {
  background-color: #ffff;
  color: #05060B;
  border: none;
}
.emtech_text2 {
  font-size: 20px;
  line-height: 160%;
  color: #FAFAFA;
  position: absolute;
  top: 288px;
  width: 532px;
}
#brand_title {
  top: 150px;
}
#partnerButton3 {
    left: 0px;
    top: -108px;
}
.carts {
  width: 410px;
  height: 359px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  background-color: #111419;
  padding: 31px 26px;
}
.cart_txt {
  font-size: 20px;
  line-height: 160%;
  color: #FAFAFA;
  margin-top: 30px;
}
.wrap_media {
  width: 100%;
  height: 981px;
  display: flex;
  justify-content: center;
  top: 394px;
  position: relative;
  margin-bottom: 207px;
}
.media {
  width: 1290px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 760px;
}
.media_title {
    font-family: "WorkSans-Bold";
    font-style: normal;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: -0.02em;
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.inside_title {
  font-family: "WorkSans-Bold";
  font-style: normal;
  font-size: 45px;
  line-height: 53px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.wrap_media_brands {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 143px;
}
.brands_content {
  width: 100%;
  padding: 89px 110px;
  height: 760px;
  background-color: #111419;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 352px 1fr;
}
.full_art {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 410px;
  height: 50px;
  border: 1.5px solid #F5D7A1;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  top: 416px;
  cursor: pointer;
  transition: 0.2s;
  grid-column: 1 / 2;
}
.inside_content {
  font-size: 20px;
  line-height: 160%;
  color: #FAFAFA;
  position: absolute;
  top: 430px;
  width: 464px;
  grid-column: 1 / 2;
}
.gold_inside_content {
  color: #F6DBA8;
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
  font-family: 'WORKSANS-LIGHT';
  height: 300px;
  width: 458px;
  left: 113px;
  position: relative;
}
.move_right {
    background: #ffffff;
    width: 100%;
    height: 2px;
    margin: 0;
    position: absolute;
    left: -184px;
    transition: 4s;
}
.opaForRight {
    transition: 1s !important;
}
.move_right_start {
  left: 0px !important;
}
.each_down_slide {
  width: 128px;
  overflow-x: hidden;
}
.appearSlide {
  z-index: 999;
  left: 0px;
}
.slowAnim {
  -webkit-animation: slidein 0.6s 1;
          animation: slidein 0.6s 1;
}
@-webkit-keyframes slidein {
  0% { left: 0px; }
  50% { left: -1300px; opacity: 0; }
  100% { left: 1300px; }
}
@keyframes slidein {
  0% { left: 0px; }
  50% { left: -1300px; opacity: 0; }
  100% { left: 1300px; }
}
.wrap_move {
  width: 100%;
  height: 2px;
  position: relative;
  top: 22px;
  overflow: hidden;
}
.slide_color {
  background: gray;
}
.wrap_imgs_brands {
  height: 46px;
}
#swiss {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
}

#ieee {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
}
#img13 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
}
.name_of_speaker {
    color: #F6DBA8;
    font-size: 20px;
    line-height: 160%;
    font-family: "WorkSans-Bold";
    text-align: center;
    padding: 15px 0px;
}
.descr_of_speaker {
    color: #FAFAFA;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    position: relative;
    top: -12px;
}
.wrap_photo_sponsor {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.each_quest {
    width: 100%;
}
#emi {
  width: 120%;
}
