.wrap__event-section {
    width: 100%;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
  	-webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
    background: #05060B;
}
.event__container {
    width: 1290px;
    height: 1531.63px;
    position: relative;
}
.event-img {
    width: 1290px;
    height: 402.76px;
    position: absolute;
    top: 419.62px;
}
.event__section {
    margin-top: 620px;
    width: 850.05px;
    position: relative;
}
.event__section-title {
    font-family: "WorkSans-Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 4px;
    z-index: 999;
    position: relative;
}
.event__section-paragraph {
    font-family: "WorkSans-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 160%;
    color: #FFFFFF;
}
.event__section2 {
    margin-top: 190px;
}
.event__title-container {
    width: 490px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-bottom: 37.63px;
}
.event__section2-title {
    font-family: "WorkSans-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.event__section2-link {
    display: block;
    font-family: "WorkSans-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: 13px;
    margin-bottom: 5px;
}
