.wrap_branding {
  width: 100%;
  height: 727px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 534px;
  background-color: #111419;
  background-image: url("../../public/images/wave2.png");
  background-repeat: round;
  background-blend-mode: lighten;
  margin-bottom: 425px;
}
.branding {
  width: 1290px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 726px 1px;
}
.high_brand {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.low_brand {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 34px;
  top: -118px;
  overflow-x: scroll;
  height: 675px;
  width: 135%;
}
.low_brand::-webkit-scrollbar {
  width: 0;
}
.become_a_partner3 {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 410px;
  height: 50px;
  border: 1.5px solid #F5D7A1;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  grid-column: 1 / 4;
  grid-row: 6 / 7;
  left: 436px;
  cursor: pointer;
  transition: 0.2s;
  top: -87px;
}
.lead__logo {
  width: 960px;
}
.become_a_partner3:hover {
  background-color: #ffff;
  color: #05060B;
  border: none;
}
.emtech_text2 {
  font-size: 20px;
  line-height: 160%;
  color: #FAFAFA;
  position: absolute;
  top: 288px;
  width: 532px;
}
#brand_title {
  top: 150px;
}
#partnerButton3 {
    left: 0px;
    top: -108px;
}
.carts {
  width: 410px;
  height: 359px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  background-color: #111419;
  padding: 31px 26px;
}
.cart_txt {
  font-size: 20px;
  line-height: 160%;
  color: #FAFAFA;
  margin-top: 30px;
}
.wrap_media {
  width: 100%;
  height: 981px;
  display: flex;
  justify-content: center;
  position: relative;
}
.media {
  width: 1290px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 760px;
}
.media_title {
    font-family: "WorkSans-Bold";
    font-style: normal;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: -0.02em;
    color: #ffffff;
}
.inside_title {
  font-family: "WorkSans-Bold";
  font-style: normal;
  font-size: 45px;
  line-height: 53px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.wrap_media_brands {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.brands_content {
  width: 100%;
  height: 760px;
  background-color: #111419;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 352px 1fr;
}
.full_art {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 410px;
  height: 50px;
  border: 1.5px solid #F5D7A1;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.2s;
  grid-column: 1 / 2;
}
.inside_content {
  font-size: 20px;
  line-height: 160%;
  color: #FAFAFA;
  position: absolute;
  top: 288px;
  width: 532px;
  grid-column: 1 / 2;
}
.gold_inside_content {
  color: #F6DBA8;
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
}
