/* MainSection2 */
.wrap__main-section2 {
    width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    background-color: #111419;
}
.main__section2 {
    width: 1290px;
    height: 594px;
}

.section2-title {
    margin-top: 60px;
    margin-bottom: 10px;
    font-family: "WorkSans-Bold", Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.section2-paragraph {
    font-family: 'WorkSans-Regular', Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    margin-bottom: 83px;
}
.section2__logo-container {
    width: 100%;
}
.section2__logo-list {
  display: grid;
  grid-template-columns: 583px 233px 474px;
  mix-blend-mode: screen;
}
.section2__logo-item {
  text-align: end;
}
#eagle {
  position: relative;
  top: -40px;
  transform: scale(0.8);
  left: -73px;
}
#goweb {
  position: relative;
  display: flex;
  top: -18px;
}
#curio {
  position: relative;
  left: -46px;
}
