/*Day21*/
.container_day{
	width: 100%;
	display: flex;
	overflow: hidden;
	justify-content: center;
}
.wrap_day21{
	width: 1120px;
}
.day21_img{
	margin: 25px 0 30px 0;
	display: flex;
	justify-content: center;
}
.day21_title{
	font-family: 'WorkSans-Bold';
	font-size: 75px;
	line-height: 88px;
	color: #F6DBA8;
	letter-spacing: -0.02em;
	text-align: center;
	width: 480px;
	margin: 0 auto;
}
.day21_data{
	font-family: 'WorkSans-Thin';
	font-size: 45px;
	line-height: 54px;
	color: #F6DBA8;
	margin: 20px 0 35px 0;
	text-align: center;
}
.wrap_day21_button{
	display: flex;
	justify-content: center;
}
.day21_button{
	box-sizing: border-box;
	text-decoration: none;
	width: 410px;
	height: 50px;
	border: 1.5px solid #F5D7A1;
	font-family: 'WorkSans-Light';
	font-size: 20px;
	line-height: 32px;
	color: #FFFFFF;
	padding: 8px 146px;
	transition: 0.5s;
}
.day21_button:hover{
	background-color: #ffff;
   color: #05060B;
}
.schedule_day21_title{
	font-family: 'WorkSans-Bold';
	letter-spacing: -0.02em;
	font-size: 45px;
	line-height: 63px;
	margin: 200px 0 30px 0;
	color: #FFFFFF;
	text-align: center;
}
.schedule_day21{
	margin: 0 auto;
	display: grid;
	grid-template-columns: 403px 410px;
	grid-column-gap: 37px;
	justify-content: center;
}
.schedule_block1, .schedule_block2{
	width: 403px;
	height: 329px;
	background: #111419;
	padding: 31px 26px;
}
.schedule_block2{
	width: 410px;
}
.schedule_block_time{
	font-family: 'WorkSans-Thin';
	color: #F6DBA8;
	font-size: 25px;
	line-height: 40px;
	margin: 0 0 10px 0;
}
.schedule_block_text{
	font-family: 'WorkSans-Bold';
	color: #FFFFFF;
	font-size: 25px;
	line-height: 40px;
	margin: 0;
}
.schedule_block_text2{
	font-family: 'WorkSans-Thin';
	color: #FFFFFF;
	font-size: 25px;
	line-height: 40px;
	margin: 0 0 30px 0;
	text-shadow: 0px 0px 13px #000000;
}
.schedule21_logo1, .schedule21_logo2, .schedule21_logo3,
.schedule21_logo4, .schedule21_logo5{
	position: relative;
	display: inline-block;
}
.schedule21_logo1{
	margin: 0 50px 0 0;
}
.schedule21_logo3{
	margin-top: 30px;
}
.schedule21_logo4{
	left: 50px;
}
.schedule21_logo5{
	top: 28px;
}
.speakers_day21_title{
	font-family: 'WorkSans-Bold';
	font-size: 45px;
	line-height: 53px;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	margin:200px 0 10px 0;
	text-align: center;
}
.speakers_day21_subtitle{
	font-family: 'WorkSans-Light';
	font-size: 20px;
	line-height: 32px;
	color: #FAFAFA;
	margin: 0;
	text-align: center;
}
.speakers_day21_wrap{
	display: grid;
	margin: 30px 0 0 0;
	grid-template-columns: repeat(5, 230px);
	grid-column-gap: 35px;
	justify-content: center;
}
.day21_speaker{
	width: 230px;
	height: 500px;
}
.wrap_photo_d21{
	width: 230px;
}
.nameSpeaker_d21{
	color: #F6DBA8;
	font-size: 20px;
	line-height: 160%;
	font-family: "WorkSans-Bold";
	text-align: center;
	padding: 15px 0px;
}
.descrSpeaker_d21{
	color: #FAFAFA;
	font-size: 20px;
	line-height: 160%;
	text-align: center;
	position: relative;
}
.partners_day21_title{
	color: #FFFFFF;
	font-size: 45px;
	line-height: 53px;
	font-family: "WorkSans-Bold";
	letter-spacing: -0.02em;
	margin: 200px 0 0 0;
	text-align: center;
}
.wrap_partners_day21{
	justify-content: center;
	display: grid;
	margin: 63px 0 0 0;
	grid-template-columns: repeat(4,300px);
	grid-template-rows: repeat(2, 139px);
	grid-gap: 30px;
}
.partner_1, .partner_2, .partner_3,
.partner_4, .partner_5{
	text-align: center;
   align-self: center;
}
.partners_day21_btn{
	box-sizing: border-box;
	text-decoration: none;
	width: 410px;
	height: 50px;
	border: 1.5px solid #F5D7A1;
	font-family: 'WorkSans-Light';
	font-size: 20px;
	line-height: 32px;
	color: #FFFFFF;
	padding: 5px 117.5px;
	transition: 0.5s;
	margin-top: 40px;
	position: relative;
}
.partners_day21_btn:hover{
	background-color: #ffff;
   color: #05060B;
}

.margin-top{
	margin-top: 0;
}
