@font-face {
    font-family: 'WorkSans-Medium';
    font-display: swap;
    src: url('../fonts/WorkSans-Medium.eot');
    src: url('../fonts/WorkSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/WorkSans-Medium.woff') format('woff'),
    url('../fonts/WorkSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-Light';
    font-display: swap;
    src: url('../fonts/WorkSans-Light.eot');
    src: url('../fonts/WorkSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/WorkSans-Light.woff') format('woff'),
    url('../fonts/WorkSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-Bold';
    font-display: swap;
    src: url('../fonts/WorkSans-Bold.eot');
    src: url('../fonts/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/WorkSans-Bold.woff') format('woff'),
    url('../fonts/WorkSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-Thin';
    font-display: swap;
    src: url('../fonts/WorkSans-Thin.eot');
    src: url('../fonts/WorkSans-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/WorkSans-Thin.woff') format('woff'),
    url('../fonts/WorkSans-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'WorkSans-Medium';
}
.wrap_lazy {
  width: 358px;
  height: 270px;
}
.show_mob {
  display: none;
}
.nav-login {
  display: none;
}
.wrap__header {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
}

.header {
  margin: 15px 0px;
  width: 1290px;
  height: 50px;
  z-index: 10;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-item {
  margin-left: 50px;
}
.wrap_lines {
  position: absolute;
  top: 0;
}
.navigation-link {
  font-family: 'WorkSans-Light';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  text-decoration: none;
  text-transform: capitalize;
  color: #FFFFFF;
  cursor: pointer;
}

#login {
  width: 113px;
  height: 50px;
  border: 1.5px solid #F6DBA8;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#under_logo {
  z-index: 1000;
  position: relative;
  width: 162px;
  font-style: normal;
  font-weight: bold;
  font-size: 15.7772px;
  line-height: 19px;
  color: #787878;
}
.section3-img {
  cursor: pointer;
}
