/* Association3 */
.wrap__association3 {
    width: 100%;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
  	-webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
    background-color: #05060B;
}
.association3 {
    width: 1290px;
    height: 713px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.association3__container {
    width: 100%;
    height: 333px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.association3__container-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.association3__card {
    width: 410px;
    height: 230px;
    background: #111419;
    border: 2px solid #F6DBA8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 3px 8px 13px #000000;
            box-shadow: 3px 8px 13px #000000;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.association3__card-title {
    font-family: "WorkSans-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}
.association3__card-paragraph {
    font-family: "WorkSans-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.association3__container-btn {
    border: 2px solid #F6DBA8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "WorkSans-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 273px;
    height: 53px;
    margin: 0 auto;
}
