/* davos footer */

@media (min-width: 576px) and (max-width: 992px) {
  .strategic {
    margin-bottom: 140px;
  }

  .strategic__contact {
    display: block;
    margin: 0 auto;
  }

  .strategic__title {
    margin-top: 80px;
    font-size: 22px;
    text-align: center;
  }
  #vr_img {
    position: relative;
    top: 67px;
  }
  .strategic__text {
    font-size: 16px;
    width: 334px;
    margin: 0 auto;
    text-align: center;
  }

  .startegic__wrap {
    text-align: center;
  }

  .strategic__contact-name {
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    top: 8px;
  }
  .yudina {
    top: 2px;
  }
  #alena1 {
    top: 37px;
    position: relative;
  }
  #ql_logo {
    top: -22px;
    position: relative;
  }
  .vlatko {
    top: -3px;
  }
  .strategic__contact-position {
    font-size: 16px;
    text-align: center;
  }

  .strategic__contact-email {
    font-size: 16px;
    text-align: center;
  }

  .strategic__contact-phone {
    font-size: 16px;
    text-align: center;
  }

  .download__strategic {
    margin: 21px auto;
    width: 495px;
    position: relative;
    top: 30px;
    height: 56px;
  }

  .strategic-donwload__text {
    font-size: 16px;
  }
}
@media (max-width: 1320px) {
  .spec_cont {
    display: flex;
    justify-content: center;
  }
}
