@media (min-width: 768px) and (max-width: 991px) {
    .header,
    .main__section1,
    .main__section2,
    .main__section3,
    .footer {
        width: 730px;
    }
    .events__button > p:nth-child(2) {
      flex-basis: 27.8%;
    }
    #text_of_event2 {
      position: relative;
      left: 142px;
    }
    #text_of_event3 {
      position: relative;
      left: 23px;
    }
    #text_of_event4 {
      position: relative;
      left: 84px;
      width: 281px;
    }
    .header {
        margin: 28px 0px 0px 0px;
        height: 45px;
    }
    .navigation-item {
        margin-left: 22px;
    }
    .navigation-link {
        font-size: 16px;
    }
    #login {
        width: 102px;
        height: 45px;
    }
    #under_logo {
        display: none;
    }
    .main__section1 {
        height: 593px;
    }
    .section1__description {
        margin-top: 165px;
    }
    .section1__title {
        font-size: 35px;
        margin-bottom: 12px;
    }
    .section1__paragraph {
        font-size: 18px;
        width: 441px;
    }
    .section1__paragraph br {
        display: none;
    }
    .section1__link, .section1__link:visited {
        margin-top: 20px;
        font-size: 18px;
    }
    .section1__img-container {
        margin-top: 32px;
        width: 239px;
    }
    .section1__img-title {
        font-size: 22px;
    }
    .section1__img-davos {
        margin-top: 14px;
        margin-bottom: 40px;
        width: 239px;
        height: 167.99px;
    }
    .section1__img-dubai {
        width: 239px;
        height: 167.99px;
    }
    .main__section2 {
        height: 411px;
    }
    #curio {
      text-align: inherit;
    }
    #smart_eye {
      text-align: initial;
    }
    .section2__logo-list {
      top: -54px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 100px;
      width: 768px;
      transform: scale(0.5);
      position: relative;
      left: -201px;
    }
    .section2-title {
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 35px;
    }
    .section2-paragraph {
        width: 541px;
        font-size: 16px;
        margin-bottom: 50px;
    }
    .section2__logo-list > li:nth-child(1) {
        order: 1;
        margin-right: 84px;
    }
    .section2__logo-list > li:nth-child(2) {
        order: 2;
        margin-right: 67px;
    }
    .section2__logo-list > li:nth-child(3) {
        order: 3;
        margin-right: 0;
    }
    .section2__logo-list > li:nth-child(4) {
        order: 8;
        margin-top: 58px;
    }
    .section2__logo-list > li:nth-child(5) {
        order: 4;
        margin-right: 130px;
        margin-top: 60px;
    }
    .section2__logo-list > li:nth-child(6) {
        order: 5;
        margin-right: 129px;
        margin-top: 74px;
    }
    .section2__logo-list > li:nth-child(7) {
        order: 7;
        margin-right: 168px;
        margin-top: 60px;
    }
    .section2__logo-list > li:nth-child(8) {
        order: 6;
        margin-top: 68px;
    }
    .main__section3 {
        margin-top: 170px;
    }
    .section3-title {
        font-size: 30px;
        line-height: 35px;
    }
    .section3__container-img {
        margin-top: 60px;
    }
    .section3-img {
        width: 167px;
        height: 167px;
    }
    .section3-big-img {
        width: 354px;
        height: 167px;
    }
    .section3-list > li:nth-child(1) {
        margin-right: 20px;
    }
    .section3-list > li:nth-child(2) {
        margin-right: 20px;
    }
    .section3-list > li:nth-child(4) {
        margin-right: 20px;
        margin-top: 20px;
    }
    .section3-list > li:nth-child(5) {
        margin-right: 20px;
        margin-top: 20px;
    }
    .section3-list > li:nth-child(6) {
        margin-right: 20px;
        margin-top: 20px;
    }
    .section3-list > li:nth-child(7) {
        margin-top: 20px;
    }
    .section3-list > li:nth-child(8) {
        margin-right: 20px;
        margin-top: 20px;
    }
    .section3-list > li:nth-child(9) {
        margin-right: 20px;
        margin-top: 20px;
    }
    .section3-list > li:nth-child(10) {
        margin-top: 20px;
    }
    .section3__events {
        margin-top: 140px;
        margin-bottom: 107px;
    }
    .events__title-container {
        width: 730px;
        margin-bottom: 27px;
    }
    .events__title-link, .events__title-link:visited {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 3px;
    }
    .events__button {
        height: 66px;
        padding: 20px 30px;
        display: flex;
        grid-template-columns: 157px 486px 25px;
    }
    .event-paragraph {
        font-size: 16px;
        line-height: 19px;
    }
    .events__button > p:nth-child(1) {
        font-size: 22px;
        line-height: 26px;
    }
    .events__button > p:nth-child(2) {
        margin-left: 0;
    }
    .events__button > p:nth-child(3) {
        margin-left: 0;
    }
    .footer {
        margin: 60px 0px;
        height: 130px;
    }
    .footer-link {
        font-size: 16px;
        line-height: 19px;
    }
    .footer-item {
        margin-bottom: 14px;
    }
    .footer__list1 {
        margin-left: 81px;
    }
    .footer__list2 {
        margin-left: 50px;
    }
    .footer__list3 {
        margin-left: 48px;
    }
    .footer__list3 > li:nth-child(3) {
        margin-bottom: 20px;
    }
    .footer__list4 {
        margin-left: 102px;
    }
}
@media (max-width: 1290px) {
  .section1__img-davos, .section1__img-dubai {
    border: 2px solid #F6DBA8;
  }
}
@media (min-width: 992px) and (max-width: 1290px) {
  .tech_0, .tech_0_ai, .tech_0_dlt {
    width: 952px !important;
  }
  .text_of_tech {
    width: 603px !important;
    font-size: 26px !important;
    line-height: 41px !important;
  }
  .text_of_tech_dlt {
    width: 603px !important;
    font-size: 26px !important;
    line-height: 41px !important;
  }
  .title_of_tech {
    width: 715px;
  }
  .to_be_cont, .to_be_cont_ai, .to_be_cont_dlt {
    font-size: 26px !important;
    line-height: 41px !important;
  }
  .tech_img_ai {
    top: 251px !important;
    left: 158px !important;
    width: 223px !important;
    height: 440px !important;
  }
  .tech_img_dlt {
    top: 251px !important;
    left: 158px !important;
    width: 223px !important;
    height: 440px !important;
  }
  .wrap_tech_img {
    left: 158px !important;
    width: 223px !important;
    height: 440px !important;
    top: 137px !important;
  }
  .wrap_tech_img > img {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
    .wrap_of_tech {
      -moz-transform: scale(0.74, 0.74); /* Moz-browsers */
      zoom: 0.74; /* Other non-webkit browsers */
      zoom: 74%; /* Webkit browsers */
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .tech_0 {
    width: 730px !important;
    height: 760px !important;
  }
  .tech_0_ai, .tech_0_dlt {
    width: 730px !important;
  }
  .title_of_tech {
    top: 103px !important;
    height: 64px !important;
    line-height: 65px !important;
    width: 650px;
  }
  .text_of_tech_dlt {
    width: 456px !important;
    height: 64px !important;
    line-height: 41px !important;
    font-size: 20px !important;
    top: -37px !important;
}
.to_be_cont_dlt {
    top: 96px !important;
    height: 40px !important;
    font-size: 20px !important;
    line-height: 32px !important;
}
.to_be_cont_ai {
    top: 58px !important;
    height: 40px !important;
    font-size: 20px !important;
    line-height: 32px !important;
}
  .text_of_tech {
    width: 467px !important;
    height: 64px !important;
    line-height: 41px !important;
    font-size: 20px !important;
    top: 37px !important;
  }
  .to_be_cont {
    height: 40px;
    top: 48px !important;
    font-size: 20px !important;
    line-height: 32px !important;
  }
  .tech_img_ai {
    top: 193px !important;
    width: 170px !important;
    height: 358px !important;
    left: 122px !important;
  }
  .wrap_tech_img {
    left: 69px !important;
    width: 223px;
    height: 440px;
    top: 118px !important;
  }
  .wrap_tech_img > img {
    width: 100%;
  }
  .tech_0_dlt {
    height: 1130px !important;
  }
  .tech_0_ai {
    height: 961px !important;
  }
  .text_of_tech_ai {
    top: -13px !important
  }
  .tech_img_dlt {
    left: 121px !important;
    top: 202px !important;
    width: 170px !important;
    height: 358px !important;
  }
}
